<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>米冠ued后台系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/css/editor.min.css">
</head>
<body class="mod-login">
<canvas id="cas"></canvas>
<div class="login-warp">
    <div class="box-login">
        <img class="h-img" id="j-avatar" src="/images/avatar.jpg" alt="">
        <form action="/users/login/" method="post">
            <input class="ipt" type="text" id="username" placeholder="用户名" name="username" autocomplete="off" required>
            <hr>
            <input class="ipt" type="password" id="password" placeholder="密码" name="password" autocomplete="off" required>
            <button class="submit" id="j-login-submit"></button>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/user.min.js"></script>
</body>
</html>
