<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #f6f6f6;">
<!--header-->
<% include header.ejs%>
<!--banner-->
<div class="main data-page mod-tlist">
    <!--详情-->
    <div class="m-txt clearfix">
        <!--<ul class=" bread-nav clearfix">-->
            <!--<li>-->
                <!--<a href="" target="" title="首页">首页</a><span>></span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="" target="" title="合集页">王者荣耀 </a><span>></span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="" target="" title="合集页">新手入门 </a><span>></span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="" target="" title="合集页">教程 </a>-->
            <!--</li>-->
        <!--</ul>-->
        <div class="mod-left">
            <div class="txt-box">
                <div class="d-title">
                    <h1>王者荣耀下半年所有新英雄  你不知道的内部消息</h1>
                    <div class="data-info">
                        <span >来源: <a class="d-ori" href="" target="_blank">MAX</a></span>
                        <span >作者: <em class="d-author">小白</em></span>
                        <span >时间: <em class="d-date">2016-08-10</em></span>
                    </div>
                </div>
                <div class="t-content">
                    <p>王者荣耀作为目前国内最热门的竞技对战游戏，现在游戏里面每个月都会有新的英雄上线;那么
                        在2016年的下半年游戏里面都有哪些新英雄即将上线呢?下面就让小编来给大家盘点盘点吧。即将上
                        线新英雄有马可波罗，一个拥有强大远程消耗能力的射手，有着很高的生命值;橘右京一个来自的英雄人物，一个战士英雄，在游戏里面拥有很好的远程消耗能力跟收割能力。</p>

                    <p>王者荣耀作为目前国内最热门的竞技对战游戏，现在游戏里面每个月都会有新的英雄上线;那么
                        在2016年的下半年游戏里面都有哪些新英雄即将上线呢?下面就让小编来给大家盘点盘点吧。即将上
                        线新英雄有马可波罗，一个拥有强大远程消耗能力的射手，有着很高的生命值;橘右京一个来自日本游戏的英雄人物，一个战士英雄，在游戏里面拥有很好的远程消耗能力跟收割能力。
                        <img src="public/images/tmp/3.jpg">
                        <img src="public/images/tmp/3.jpg">
                    </p>
                </div>
                <!--<div class="lead clearfix">-->
                    <!--<p class="pre">上一篇：-->
                        <!--<a href="" target="">皇室战争A4-争A4争A4争A4争A4A5防守反击卡组推荐</a>-->
                    <!--</p>-->
                    <!--<p class="next">下一篇：-->
                        <!--<a href="" target="">皇室战争A战争A4战争A44-A5防守反击卡组推荐</a>-->
                    <!--</p>-->
                <!--</div>-->
            </div>
        </div>
        <div class="mod-aside">
            <div class="mod-box hotrec-box">
                <h3><i></i>热门推荐</h3>
                <ul >
                    <li >
                        <a href="" target="_blank" class="h-first">
                            <img src="public/images/tmp/5.jpg">
                            <span class="txt">炉石传说新卡速递： 法师新普通随从</span>
                        </a>
                    </li>
                    <li >
                        <a class="m-hot clearfix" href="" target="_blank">
                            <img src="public/images/tmp/6.jpg">
                            <span class="h-txt">
                                <span class="h-title">萌新来看——婷子的战斗技巧解析萌新来看——婷子的战斗技巧解析</span>
                                <span class="time">2016-09-01</span>
                            </span>
                        </a>
                    </li>
                    <li >
                        <a class="m-hot clearfix" href="" target="_blank">
                            <img src="public/images/tmp/6.jpg">
                            <span class="h-txt">
                                <span class="h-title">萌新来看——婷子的战斗技巧解析萌新来看——婷子的战斗技巧解析</span>
                                <span class="time">2016-09-01</span>
                            </span>
                        </a>
                    </li>
                    <li >
                        <a class="m-hot clearfix" href="" target="_blank">
                            <img src="public/images/tmp/6.jpg">
                            <span class="h-txt">
                                <span class="h-title">萌新来看——婷子的战斗技巧解析萌新来看——婷子的战斗技巧解析</span>
                                <span class="time">2016-09-01</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mod-box hotpic-box">
                <h4><i></i>热门图文</h4>
                <ul class="clearfix m-pic" >
                    <li>
                        <a href="#" target="_blank">
                            <img src="public/images/tmp/6.jpg">
                            <span class="txt">炉石传说新卡速递： 法师新普通随从新普通随</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="public/images/tmp/6.jpg">
                            <span class="txt">炉石传说新卡速递： 法师新普通随从</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="public/images/tmp/6.jpg">
                            <span class="txt">炉石传说新卡速递： 法师新普通随从</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="public/images/tmp/6.jpg">
                            <span class="txt">炉石传说新卡速递： 法师新普通随从</span>
                        </a>
                    </li>
                </ul>
                <ul class="p-txt">
                    <li>
                        <a href="" target="_blank">
                            <i></i><span>EDG新人狂晒基地动态 高调作风引不满不满高调作风引不满不满不满</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i></i><span>EDG新人狂晒基地动态 高调作风引不满不满满不满满不满不满</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i></i><span>EDG新人狂晒基地动态 高调作风引不满不满不满</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i></i><span>EDG新人狂晒基地动态 高调作风引不满不满不满</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
    $(window).load(function() {
        floatR();
    });
    // 窗口调整时调整位置
    $(window).on('resize',function(){
        floatR();
    });
    var moveXXX = function(){
        var myTop = $(window).scrollTop();
        if(myTop >=650){
            $(".float-r").slideDown();
        } if(myTop <650){
            $(".float-r").slideUp();
        }
    };
    $(window).bind("scroll", moveXXX);
    function floatR () {
        var winWid = $(window).width();
        if ( winWid <= 1400) {
            $('.float-r').removeClass('pof').addClass('pofauto')
        }
    }
</script>
</html>