<div class="footer">
    <div class="footer-main">
        <span class="sp-1">MIGUAN UED</span>
        <span class="sp-2"><i class="ico"></i>2016</span>
        <a href="/">首页</a>|
        <a href="/share">分享</a>|
        <a href="/team">团队</a>
        <a href="/recruit">招聘</a>|
        <span class="sp-3">UED@MIGUAN.COM</span>
    </div>
</div>
<div class="to-top-box" id="j-go-top">
    <a class="to-top" href="javascript:;"></a>
</div>
<script src="/js/common.min.js"></script>
