<div class="nav-box">
    <div class="nav clearfix" id="j-nav">
        <div class="logo"><a href="/"></a></div>
        <%if(active=='share'){%>
        <div class="mod-search" id="j-search">
            <form class="m-sear" action="/search" method="post">
                <a href="javascript:;" class="i-sear"></a>
                <input class="sear-input" type="search" id="j-input"/>
            </form>
        </div>
        <%}%>
        <ul class="clearfix nav-item">
            <li class="<%if(active=='index'){%>cur<%}%>"><a href="/">首页</a></li>
            <li class="<%if(active=='share'){%>cur<%}%>"><a href="/share" >分享</a></li>
            <li class="<%if(active=='team'){%>cur<%}%>"><a href="/team">团队</a></li>
            <li class="<%if(active=='recruit'){%>cur<%}%>" ><a href="/recruit" >招聘</a></li>
        </ul>
    </div>
</div>
