<div class="nav-box">
    <div class="nav" id="j-nav">
        <div class="logo"><a href="/index.ejs"><img src="/images/logo.png"></a></div>
        <ul class="clearfix nav-item">
            <li><a href="/" class="<%if(active=='index'){%>active<%}%>">首页</a></li>
            <li><a href="/team" class="<%if(active=='team'){%>active<%}%>">团队</a></li>
            <li><a href="/recruit" class="<%if(active=='recruit'){%>active<%}%>" >招聘</a></li>
            <li><a href="/share" class="<%if(active=='share'){%>active<%}%>">分享</a></li>
        </ul>
        <span class="i-line"></span>
    </div>
</div>
