<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title><%= title %></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/common.min.css" type="text/css">
</head>
<body>
<% include header.ejs%>
<div class="wrap-box">
    <div class="recruit-box">
        <div class="part clearfix">
            <div class="part-le">
                <h2 class="tit">UI设计</h2>
                <ol class="job-item">
                    <li>本科及以上学历，美术、设计或相关专业本科以上学历；</li>
                    <li>从事设计行业工作3年以上，对工具型网站的设计有丰富经验，有成功案例案例者优先；</li>
                    <li>具有深厚的设计理论与娴熟的设计技巧，善于捕捉流行趋势，并能推动团队的设计能力；</li>
                    <li>热爱设计，拥有宽广的行业视野与时尚的审美标准；（对平面设计、界面设计、网页设计、图标设计、符号设计、品牌设计、手持界面设计等都有了解甚至熟知）</li>
                    <li>精通Photoshop、Illustartor、Flash等设计工具，了解flash（Actionscript）动画设计的优先；</li>
                    <li>具备良好合作态度及团队精神，并富有工作激情、创新欲望和责任感，能承受高强度的工作压力；</li>
                </ol>
            </div>
            <div class="part-ri">
                <div class="i-ico2 i-1"></div>
                <a href="javascript:;" class="join"><i class="ico"></i>申请加入</a>
            </div>
            <div class="mod-dia">
                <div class="m-dia">
                    <h3 class="dia-title"></h3>
                    <dl>
                        <dt>工作职责：</dt>
                        <dd>1、负责公司相关产品的WEB页面设计并为公司新产品与新功能提供创意及设计方案；</dd>
                        <dd>2、负责公司现有产品及竞品分析研究；</dd>
                        <dd>3、指导其他设计师完成高品质的设计输出；</dd>
                        <dt>任职要求：</dt>
                        <dd>1、具有敏锐的设计洞察力，良好把握web设计的流行趋势;</dd>
                        <dd>2、具有深厚的设计表现力及创新能力;</dd>
                        <dd>3、从事设计行业3年以上，并有大型网站整体风格的把控能力；</dd>
                        <dd>4、能独担设计工作，适应高强度节奏，并保持乐观精神，善于团队合作及沟通。</dd>
                        <dd>5、美术、设计或相关专业本科以上学历（优秀人才，学历可适当放宽）。</dd>
                        <dt>投递简历须附上近期作品或链接<br/>
                            发邮件至：<span class="mail">dengziyan@wanjizhijia.com</span>，主题注明“应聘XX职位”，谢谢！</dt>
                    </dl>
                    <a href="javascript:;" class="i-close"></a>
                </div>
            </div>
        </div>
        <div class="part clearfix">
            <div class="part-le">
                <h2 class="tit">前端</h2>
                <ol class="job-item">
                    <li>对行业内产品和应用有深入体验经验和理解、见解，对行业内产品和应用保持高度热情；</li>
                    <li>熟悉UED方法和工作流程；对交互设计有较深的理解和实践，可以独立完成整个设计过程（对流程图、线框图等到交互设计方法能熟练应用）；</li>
                    <li>能够独立负责多个产品或整个产品线，在产品规划、策略等方面有效推动交互设计思路；</li>
                    <li>能够积极参与研究过程，能够将调研结论有效转化为交互设计方案，发现并提出交互设计中的调研需求；</li>
                    <li>对产品有整体规划和梳理产品信息架构的能力，善于梳理各种因素之间的关系；</li>
                    <li>了解手机等移动客户端的交互设计和表现方法 </li>
                    <li>熟悉研究方法论，熟悉一般研究步骤，了解各种研究方法，有一定的统计和数据分析基础；</li>
                    <li>有1年以上交互设计经验，工业设计、计算机、心理学、平面设计、广告设计等相关专业，本科以上学历；</li>
                    <li>熟练掌握专业的设计和原型开发工具，如Photoshop，Illustrator，Axure，Visio等；</li>
                </ol>
            </div>
            <div class="part-ri">
                <div class="i-ico2 i-2"></div>
                <a href="javascript:;" class="join"><i class="ico"></i>申请加入</a>
            </div>
            <div class="mod-dia">
                <div class="m-dia">
                    <h3 class="dia-title"></h3>
                    <dl>
                        <dt>工作cccc职责：</dt>
                        <dd>1、负责公司相关产品的WEB页面设计并为公司新产品与新功能提供创意及设计方案；</dd>
                        <dd>2、负责公司现有产品及竞品分析研究；</dd>
                        <dd>3、指导其他设计师完成高品质的设计输出；</dd>
                        <dt>任职要求：</dt>
                        <dd>1、具有敏锐的设计洞察力，良好把握web设计的流行趋势;</dd>
                        <dd>2、具有深厚的设计表现力及创新能力;</dd>
                        <dd>3、从事设计行业3年以上，并有大型网站整体风格的把控能力；</dd>
                        <dd>4、能独担设计工作，适应高强度节奏，并保持乐观精神，善于团队合作及沟通。</dd>
                        <dd>5、美术、设计或相关专业本科以上学历（优秀人才，学历可适当放宽）。</dd>
                        <dt>投递简历须附上近期作品或链接<br/>
                            发邮件至：<span class="mail">dengziyan@wanjizhijia.com</span>，主题注明“应聘XX职位”，谢谢！</dt>
                    </dl>
                    <a href="javascript:;" class="i-close"></a>
                </div>
            </div>
        </div>
        <div class="part clearfix">
            <div class="part-le">
                <h2 class="tit">交互设计</h2>
                <ol class="job-item">
                    <li>对行业内产品和应用有深入体验经验和理解、见解，对行业内产品和应用保持高度热情；</li>
                    <li>熟悉UED方法和工作流程；对交互设计有较深的理解和实践，可以独立完成整个设计过程（对流程图、线框图等到交互设计方法能熟练应用）；</li>
                    <li>能够独立负责多个产品或整个产品线，在产品规划、策略等方面有效推动交互设计思路；</li>
                    <li>能够积极参与研究过程，能够将调研结论有效转化为交互设计方案，发现并提出交互设计中的调研需求；</li>
                    <li>对产品有整体规划和梳理产品信息架构的能力，善于梳理各种因素之间的关系；</li>
                    <li>了解手机等移动客户端的交互设计和表现方法 </li>
                    <li>熟悉研究方法论，熟悉一般研究步骤，了解各种研究方法，有一定的统计和数据分析基础；</li>
                    <li>有1年以上交互设计经验，工业设计、计算机、心理学、平面设计、广告设计等相关专业，本科以上学历；</li>
                    <li>熟练掌握专业的设计和原型开发工具，如Photoshop，Illustrator，Axure，Visio等；</li>
                </ol>
            </div>
            <div class="part-ri">
                <div class="i-ico2 i-3"></div>
                <a href="javascript:;" class="join"><i class="ico"></i>申请加入</a>
            </div>
            <div class="mod-dia">
                <div class="m-dia">
                    <h3 class="dia-title"></h3>
                    <dl>
                        <dt>工作职责：</dt>
                        <dd>1、负责公司相关产品的WEB页面设计并为公司新产品与新功能提供创意及设计方案；</dd>
                        <dd>2、负责公司现有产品及竞品分析研究；</dd>
                        <dd>3、指导其他设计师完成高品质的设计输出；</dd>
                        <dt>任职要求：</dt>
                        <dd>1、具有敏锐的设计洞察力，良好把握web设计的流行趋势;</dd>
                        <dd>2、具有深厚的设计表现力及创新能力;</dd>
                        <dd>3、从事设计行业3年以上，并有大型网站整体风格的把控能力；</dd>
                        <dd>4、能独担设计工作，适应高强度节奏，并保持乐观精神，善于团队合作及沟通。</dd>
                        <dd>5、美术、设计或相关专业本科以上学历（优秀人才，学历可适当放宽）。</dd>
                        <dt>投递简历须附上近期作品或链接<br/>
                            发邮件至：<span class="mail">dengziyan@wanjizhijia.com</span>，主题注明“应聘XX职位”，谢谢！</dt>
                    </dl>
                    <a href="javascript:;" class="i-close"></a>
                </div>
            </div>
        </div>
        <div class="part clearfix">
            <div class="part-le">
                <h2 class="tit">实习生</h2>
                <ol class="job-item">
                    <li>辅助设计师完成无线产品设计工作；</li>
                    <li>完成简单的产品界面、原型设计；</li>
                    <li>维护界面规范；</li>
                    <li>有一定的视觉、交互设计能力；</li>
                    <li>对移动互联网产品有经验或感兴趣；</li>
                    <li>非应届毕业生；</li>
                    <li>有其他互联网公司实习经验优先；</li>
                </ol>
            </div>
            <div class="part-ri">
                <div class="i-ico2 i-4"></div>
                <a href="javascript:;" class="join"><i class="ico"></i>申请加入</a>
            </div>
            <div class="mod-dia">
                <div class="m-dia">
                    <h3 class="dia-title"></h3>
                    <dl>
                        <dt>工作职责：</dt>
                        <dd>1、负责公司相关产品的WEB页面设计并为公司新产品与新功能提供创意及设计方案；</dd>
                        <dd>2、负责公司现有产品及竞品分析研究；</dd>
                        <dd>3、指导其他设计师完成高品质的设计输出；</dd>
                        <dt>任职要求：</dt>
                        <dd>1、具有敏锐的设计洞察力，良好把握web设计的流行趋势;</dd>
                        <dd>2、具有深厚的设计表现力及创新能力;</dd>
                        <dd>3、从事设计行业3年以上，并有大型网站整体风格的把控能力；</dd>
                        <dd>4、能独担设计工作，适应高强度节奏，并保持乐观精神，善于团队合作及沟通。</dd>
                        <dd>5、美术、设计或相关专业本科以上学历（优秀人才，学历可适当放宽）。</dd>
                        <dt>投递简历须附上近期作品或链接<br/>
                            发邮件至：<span class="mail">dengziyan@wanjizhijia.com</span>，主题注明“应聘XX职位”，谢谢！</dt>
                    </dl>
                    <a href="javascript:;" class="i-close"></a>
                </div>
            </div>
        </div>
        <div class="erwm-box">
            <div class="qrcode-uxc"></div>
        </div>
    </div>
</div>
<% include footer.ejs%>
</body>
</html>