/*编辑页*/
html {
    color: #333;
    background: #fff;
    font-family: sans-serif;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }
body,
button, input, select, textarea { font: 400 12px/1.5 'Lantinghei SC', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei','Simsun', sans-serif; outline: none; }
*{ margin: 0; padding: 0;*zoom:1; }
body,
dl, dt, dd,ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea,
p, blockquote, th, td, hr, button,
article, aside, details, figcaption, figure, footer, header, menu, nav, section { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
ul, ol { list-style: none; }
li { *vertical-align: top; }
em{font-style: normal;}
a { color: #333; background-color: transparent; text-decoration: none; }
a:focus { -webkit-outline:none; -moz-outline:none; -ms-outline:none; -o-outline:none;outline:none;}
a:active, a:hover { outline: 0;  }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input::-ms-clear { display: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }

.fl { float: left; _display: inline; }
.fr { float: right; }
.dn { display: none; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.frm-main, .frm-side {
    float: left;
    max-height: 850px;
    background-color: #fff;
    border-radius: 5px;
}
.wrapper{
    width: 1180px;
    margin: 0 auto;
}
.frm-main {
    width: 940px;
    margin-left: 50px;
    padding: 50px 10px 30px 10px;
    position: relative;
}

.frm-side {
    padding: 10px 0;
    width: 170px;
}

.mod-side-nav {
    text-align: center;
}

.mod-side-nav .mod-bd .tit, .mod-side-nav .mod-hd .tit {
    color: #333;
    font: 16px/50px Microsoft YaHei;
    position: relative;
    zoom: 1;
    cursor: default;
}

.mod-side-nav .mod-bd .tit {
    font: 14px/40px Microsoft YaHei;
    background-color: #eaedef;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.mod-side-nav .mod-bd .tit b {
    position: absolute;
    top: 18px;
    right: 10px;
    border: 4px solid;
    border-color: #666 #eaedef #eaedef;
    overflow: hidden;
    height: 0;
}

.mod-side-nav .sub-nav-list a {
    display: block;
    color: #666;
    font: 12px/37px Microsoft YaHei;
    height: 37px;
}

.mod-side-nav .sub-nav-list a.cur, .mod-side-nav .sub-nav-list a:hover {
    text-decoration: none;
    color: #ff8600;
}

.mod-article-post label {
    font: 14px/1.5 "Microsoft YaHei";
    color: #333;
    width: 100px;
    padding-right: 20px;
    float: left;
    text-align: right;
}

.mod-article-post .form-group select {
    padding-left: 6px;
}

.mod-article-post input, .mod-article-post select {
    width: 600px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    box-sizing: border-box;
}

.mod-article-post .form-group .isTop {
    width: 15px;
    margin-top: 4px;
}

.mod-article-post .form-group {
    margin: 10px 0;
}

.mod-article-post .submit {
    position: absolute;
    padding: 10px 20px;
    display: block;
    box-shadow: inset 0 -4px 0 #af630e;
    border: 0;
    color: #fff;
    background-color: #e68417;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    top: 104px;
    right: 20px;
    transition: .25s all;
}

.mod-article-post .submit:active,.mod-article-post .submit:hover{
    box-shadow: none;
    margin-top: 2px;
    background-color: #F59017;
}
.mod-article-post .add-admin{
    padding: 7px;
    display: block;
    border: 0;
    color: #fff;
    background-color: #e68417;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius:4px;
    width: 90px;
    transition: .25s all;
    text-align: center;
    margin: 28px 0 0 46px;
}
.mod-article-post .add-admin:active,.mod-article-post .add-admin:hover{
    background-color: #F59017;
}
.mod-article-list table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

.mod-article-list th, .mod-article-list td {
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.mod-article-list th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.mod-article-list tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.mod-article-list tbody tr:hover {
    background-color: #f5f5f5;
}

.mod-article-list .title {
    text-align: left;
}

.mod-article-list .title a {
    color: #333;
}

.mod-article-list .title a:hover {
    color: #e68417;
}

.mod-article-list .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: -3px;
    color: #fff;
}

.mod-article-list .btn-editor {
    background-color: #e68417;
    border-color: #eea236;
    margin-right: 10px;
}
.mod-article-list .btn-editor:hover{
    background-color: #f38b19;
}
.mod-article-list .btn-remove {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.mod-article-list .btn-remove:hover{
    background-color: #f45d59;
}
.mod-article-list .btn-none,.mod-article-list .btn-none:hover{
    background-color: #cccccc;
    border: 1px solid #dbdbdb;
    cursor: default;
}
.mod-pager, .mod-pager ul {
    zoom: 1;
    position: relative;
    float: left;
}
.mod-pager {
    margin: 20px 0;
    font-size: 12px;
    line-height: 36px;
    left: 50%;
}

.mod-pager ul {
    right: 50%;
}

.mod-pager li {
    display: inline;
}

.mod-pager a, .mod-pager span {
    transition: .15s all;
    font: 500 12px/30px microsoft yahei;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0 3px;
    overflow: hidden;
    float: left;
    display: inline;
    padding: 0 13px;
    color: #7f7f7f;
    background: #fff;
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.mod-pager span, .mod-pager a:hover,.mod-pager a.active{
    color: #fff;
    background-color: #e68417;
}

.mod-search {
    padding: 10px 5px;
}

.mod-search input {
    display: inline-block;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border: 1px solid #ccc;
}

.mod-search .input {
    width: 150px;
    transition: all ease-in-out .25s;
    margin-left: -5px;
    border-radius: 0 3px 3px 0;
}

.mod-search .submit {
    background-color: #e68417;
    border-color: #eea236;
    color: #fefefe;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
    margin-right: -4px;
}

.mod-search .submit:hover {
    background-color: #eea236;
}

.mod-search .tip {
    float: right;
}

.mod-search .tip span {
    color: #e68417;
}

.mod-txtlist {
    min-height: 659px;
    margin: 30px auto 50px;
}

.mod-txtlist .tit {
    color: #333;
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.mod-txtlist .cnt-txtlist li {
    height: 30px;
    width: auto;
    padding: 5px 0 5px 20px;
    background-position: 0 -78px;
}

.mod-txtlist .cnt-txtlist li:hover {
    background-position: 0 2px;
}

.main-article-list, .sub-article-list {
    float: left;
    width: 230px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 20px 10px 0 0;
}
.main-article-list li, .sub-article-list li {
    font-size: 14px;
    text-indent: 10px;
    margin: 8px 6px;
    cursor: pointer;
    border-top: 1px dotted #ccc;
    transition: .25s all;
}

.main-article-list li.active h3{
    background-color: #e37416;
    line-height: 36px;
}
.main-article-list h3+ul{
    margin-left: 10px;
}
.sub-article-list .add,.main-article-list .add{
    float: right;
}
.mod-article-post input.thumb,.mod-article-post input.avatar{
    width: 400px;
}
.mod-article-post .thumb-btn,.mod-article-post .avatar-btn{
    font-size: 14px;
    background: #e68417;
    border-radius: 3px;
    line-height: 24px;
    padding: 0 10px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-left: 20px;

}
.mod-article-post .thumb-btn:hover,.mod-article-post .avatar-btn:hover{
    background-color: #F59017;
}
button[disabled], html input[disabled],.mod-article-post .form-group select[disabled]{
    background-color: #f3f3f3;
}
.mod-article-post .from-tip{
    display: inline-block;
    color: red;
    font-size: 14px;
    margin-left: 5px;
}
.mod-article-post .from-tip.err{
    color: red;
}
.mod-article-post .from-tip i{
    font-style: normal;
    margin-right: 5px;
}
.mod-article-post .from-tip.suc,.mod-article-post .from-tip.suc i{
    color: #0c8019;
}
.mod-article-post .super-admin{
    width: 18px;
    height: 21px;
}
/*顶部*/
.top-box{width: 100%;height: 50px;
    line-height: 50px;background-color: #f5f5f5;}
.top-box .head-left{
    float: left;
    font-size: 14px;
    color: #333333;
}
.top-box .head-right{
    float: right;
}
.top-box .head-right .head{
    float: left;
}
.top-box .head-right .name{
    color: #e68417;
}
.top-box .head-right img{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.top-box .head-right .exit{
    font-size: 14px;
    color: #8f8f8f;
    float:right;
    margin-left: 14px;
}
.top-box .head-right .exit:hover{
    color: #F59017;
    text-decoration: underline;
}
#container{
    margin-top: 20px;
}
/*登录页*/
.mod-login {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #35393d;
    overflow: hidden;
}

.login-warp {
    width: 340px;
    position: absolute;
    zoom: 1;
    height: 226px;
    top: 50%;
    left: 50%;
    margin: -113px 0 0 -170px;
}

.pre-hide {
    opacity: 1;
    transition: 0.25s all;
}

.pre-hide:hover {
    opacity: 1;
}

.box-login .h-img {
    border-radius: 50%;
    position: relative;
    border: 0;
    user-select: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.box-login hr {
    width: 300px;
    margin: 5px 0;
    height: 2px;
    border-width: 0;
    background-color: #35393d
}
.box-login form{
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1c1e21;
    margin-top: 30px;
}
.box-login .ipt {
    background-color: transparent;
    border: none;
    color: #aeb8cf;
    font: 700 14px/30px "Microsoft YaHei";
    outline: none;
    user-select: none;
    width: 100%;
}

.box-login .ipt::-webkit-input-placeholder {
    color: #505661;
}

.box-login .submit {
    display: block;
    border-radius: 50%;
    background-color: #1c1e21;
    border: 6px solid #35393d;
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 16px;
    right: -27px;
    outline: none;
    cursor: pointer;
}
.box-login .submit:before {
    content: '';
    border: 8px solid;
    border-color: transparent transparent transparent #6cc3fe;
    position: absolute;
    top: 17px;
    left: 22px;
    animation: breathe 2700ms ease-in-out infinite alternate;
}

@keyframes breathe {
    0% {
        opacity: .2;
        border-color: transparent transparent transparent #6cc3fe;
    }
    100% {
        opacity: 1;
        border-color: transparent transparent transparent #21a1d0;
    }
}

.box-login .forget {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: #999;
}

#cas {
    position: absolute;
    top: 0;
}